body{
	background-image:url(renga.gif);
	backgroung-repeat:repeat-xy;
}
.h{
	color:Chocolate;
	font-size:xx-large;
}
tr:nth-child(2n){
	background-color:#d3d3d3;
}
tr:nth-child(2n+1){
	background-color:#b0c4de;
}

